  <ion-toolbar color="dark">
    <ion-title>
      Calculadora 2
    </ion-title>
  </ion-toolbar>


<ion-content [fullscreen]="true" color="dark">
  

    <ion-card>
    <ion-item>
    <ion-label position="floating">Operação</ion-label>
    <ion-input class="ion-text-right" [(ngModel)]="operacao"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label> <strong>Resultado:</strong> </ion-label>
      <ion-label class="ion-text-right resultado">{{resultado}}</ion-label>
    </ion-item>
  </ion-card>

  <ion-card>
    <ion-row>
        <ion-button  fill="clear" color="dark" expand="block">
          MC
        </ion-button>

        <ion-button fill="clear" color="dark" expand="block">
          MR
        </ion-button>
        
        <ion-button fill="clear" color="dark" expand="block">
          M+
        </ion-button>

        <ion-button fill="clear" color="dark" expand="block">
          M-
        </ion-button>

        <ion-button (click)="adicionarMemoria()" fill="clear" color="dark" expand="block">
          MS
        </ion-button>

        <ion-button fill="clear" color="dark" expand="block">
          M▾
        </ion-button>

    </ion-row>

    <ion-row>

      <ion-col>
        <ion-button (click)="adicionarValor('%')" fill="solid" color="dark" expand="block">
          %
        </ion-button>

        <ion-button  fill="solid" color="dark" expand="block">
          1/x
        </ion-button>

        <ion-button (click)="adicionarValor('7')" fill="outline" color="dark" expand="block">
          7
        </ion-button>

        <ion-button (click)="adicionarValor('4')" fill="outline" color="dark" expand="block">
          4
        </ion-button>
        
        <ion-button (click)="adicionarValor('1')" fill="outline" color="dark" expand="block">
          1
        </ion-button>

        <ion-button fill="outline" color="dark" expand="block">
          +/-
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="limparOperacao()" fill="solid" color="dark" expand="block">
          CE
        </ion-button>

        <ion-button fill="solid" color="dark" expand="block">
          x²
        </ion-button>

        <ion-button (click)="adicionarValor('8')" fill="outline" color="dark" expand="block">
          8
        </ion-button>

        <ion-button (click)="adicionarValor('5')" fill="outline" color="dark" expand="block">
          5
        </ion-button>
        
        <ion-button (click)="adicionarValor('2')" fill="outline" color="dark" expand="block">
          2
        </ion-button>

        <ion-button (click)="adicionarValor('0')" fill="outline" color="dark" expand="block">
          0
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="limparMemoria()" fill="solid" color="dark" expand="block">
          C
        </ion-button>

        <ion-button fill="solid" color="dark" expand="block">
          ²√x
        </ion-button>

        <ion-button (click)="adicionarValor('9')" fill="outline" color="dark" expand="block">
          9
        </ion-button>

        <ion-button (click)="adicionarValor('6')" fill="outline" color="dark" expand="block">
          6
        </ion-button>
        
        <ion-button (click)="adicionarValor('3')" fill="outline" color="dark" expand="block">
          3
        </ion-button>

        <ion-button (click)="adicionarValor('.')" fill="outline" color="dark" expand="block">
          ,
        </ion-button>
      </ion-col>

      <ion-col>
        <ion-button (click)="apagarCaracter()" fill="solid" color="dark" expand="block">
          <ion-icon slot="icon-only" name="backspace-outline"></ion-icon>
        </ion-button>

        <ion-button (click)="adicionarValor('/')" fill="solid" color="dark" expand="block">
          ÷
        </ion-button>

        <ion-button (click)="adicionarValor('*')" fill="solid" color="dark" expand="block">
          x
        </ion-button>

        <ion-button (click)="adicionarValor('-')" fill="solid" color="dark" expand="block">
          -
        </ion-button>
        
        <ion-button (click)="adicionarValor('+')" fill="solid" color="dark" expand="block">
          +
        </ion-button>

        <ion-button (click)="realizarOperacao()" fill="solid" color="primary" expand="block">
          =
        </ion-button>
      </ion-col>

    </ion-row>
  </ion-card>

</ion-content>
